itbody{
	margin: 0;
	padding: 0;
	background: url(redbg.jpg) no-repeat;
	background-size: cover;
}
.reds_box{
	width: 450px;
	background-color: #643232;
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: 'Century Gothic',sans-serif;
}
.reds_box-img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}
.reds_box h1{
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 100;
}
.reds_box h5{
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 100;
}
.reds_box p{
	text-align: justify;
}
ul{
	margin: 0;
	padding: 0;
}
.reds_box li{
	display: inline-block;
	margin: 6px;
	list-style: none;
}
.reds_box li a{
	color: white;
	text-decoration: none;
	font-size: 60px;
	transition: all ease-in-out 250ms;
}
.reds_box li a:hover{
	color: #b9b9b9
}
a{
text-decoration:none;
color:white;
}
      #red {
         color: red;
      }
        body {
   background:#643232;
  }
button {
            width: 100%;
            padding: 12px;
            color: #ffffff;
            background-color: #191919;
            border: none;
            outline: none;
            border-radius: 4px;
            box-shadow: 0 4px 8px rgba(59, 39, 39, 0.2);
            font-size: 20px;
            transition: background-color 0.2s;
        }

        button[disabled] {
            background-color: #191919;
        }

        button:hover {
            opacity: 0.9;
        }

        button:active {
            opacity: 0.8;
        }
      #godspeed {
         color: yellow;
      }
      #linkopenme{
         color: lightblue;
      }
      #rainbowsgod{
         -webkit-animation: animatedBackground_b 3s linear infinite alternate;
      }
      #redrainbow
         -webkit-animation: animatedBackground_b 3s linear infinite alternate;
      }
/* rainbows */
@keyframes animatedBackground_b{
    0% {color: #ff8b00}
    10% {color: #e8ff00}
    20% {color: #5dff00}
    30% {color: #00ff2e}
    40% {color: #00ffb9}
    50% {color: #00b9ff}
    60% {color: #002eff}
    70% {color: #5d00ff}
    80% {color: #e800ff}
    90% {color: #ff008b}
    100% {color: #ff0000}
}
/* official rainbows for red */
@keyframes animatedBackground_b{
    0% {color: #FF0000}
    10% {color: #DC143C}
    20% {color: #B22222}
    30% {color: #E9967A}
    40% {color: #FF0800}
    50% {color: #E61C2B}
    60% {color: #FF0400}
    70% {color: #DA291C}
    80% {color: #FF2400}
    90% {color: #FF0000}
    100% {color: #800000}
}
/* question mark tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* team / contact signup form */
.inputBox{
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
}
.reds_teamsignup_box{
	width: 450px;
	background: #643232;
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: 'Century Gothic',sans-serif;
}
.inputBox input[type="text"], .inputBox input[type="email"]{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0px 10px;
    font-size: 16px;
    color: #444;
}
.inputBox textarea{
    width: 100%;
    height: 120px;
    border-radius: 5px;
    border: none;
    outline: none;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0px 10px;
    font-size: 16px;
    color: #444;
}
.inputBox button{
    width: 100%;    
    padding: 10px 20px;
    border: none;
    outline: none;
    background: rgb(247,52,67);
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    
}

.inputBox button:hover{
    background: rgb(0, 17, 255);
    transition: all 0.3s ease;
}
.alertmessagesent{
    width: 100%;
    background: rgb(0, 255, 106);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    display: none;
}
.reds_teamsignup_box h1{
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 100;
}
.reds_teamsignup_box h5{
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 100;
}
/* hr line */
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
