itbody{
	margin: 0;
	padding: 0;
	background: url(redbg.jpg) no-repeat;
	background-size: cover;
}
.reds_box{
	width: 450px;
	background-color: #643232;
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: 'Century Gothic',sans-serif;
}
.reds_box-img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}
.reds_box h1{
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 100;
}
.reds_box h5{
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 100;
}
.reds_box p{
	text-align: justify;
}
ul{
	margin: 0;
	padding: 0;
}
.reds_box li{
	display: inline-block;
	margin: 6px;
	list-style: none;
}
.reds_box li a{
	color: white;
	text-decoration: none;
	font-size: 60px;
	transition: all ease-in-out 250ms;
}
.reds_box li a:hover{
	color: #b9b9b9
}
a{
text-decoration:none;
color:white;
}
      #red {
         color: red;
      }
        body {
   background:#643232;
  }
button {
            width: 100%;
            padding: 12px;
            color: #ffffff;
            background-color: #191919;
            border: none;
            outline: none;
            border-radius: 4px;
            box-shadow: 0 4px 8px rgba(59, 39, 39, 0.2);
            font-size: 20px;
            transition: background-color 0.2s;
        }

        button[disabled] {
            background-color: #191919;
        }

        button:hover {
            opacity: 0.9;
        }

        button:active {
            opacity: 0.8;
        }
      #godspeed {
         color: yellow;
      }
      #linkopenme{
         color: lightblue;
      }
      #redrainbow
         -webkit-animation: animatedBackground_red 3s linear infinite alternate;
      }
/* official rainbows for red */
@keyframes animatedBackground_red{
    0% {color: #FF0000}
    10% {color: #DC143C}
    20% {color: #B22222}
    30% {color: #E9967A}
    40% {color: #FF0800}
    50% {color: #E61C2B}
    60% {color: #FF0400}
    70% {color: #DA291C}
    80% {color: #FF2400}
    90% {color: #FF0000}
    100% {color: #800000}
}
/* question mark tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* team / contact signup form */
.inputBox{
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
}
.reds_teamsignup_box{
	width: 450px;
	background: #643232;
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: 'Century Gothic',sans-serif;
}
.inputBox input[type="text"], .inputBox input[type="email"]{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0px 10px;
    font-size: 16px;
    color: #444;
}
.inputBox textarea{
    width: 100%;
    height: 120px;
    border-radius: 5px;
    border: none;
    outline: none;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0px 10px;
    font-size: 16px;
    color: #444;
}
.inputBox button{
    width: 100%;    
    padding: 10px 20px;
    border: none;
    outline: none;
    background: rgb(247,52,67);
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    
}

.inputBox button:hover{
    background: rgb(0, 17, 255);
    transition: all 0.3s ease;
}
.alertmessagesent{
    width: 100%;
    background: rgb(0, 255, 106);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    display: none;
}
.reds_teamsignup_box h1{
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 100;
}
.reds_teamsignup_box h5{
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 100;
}
/* hr line */
hr {
            margin: 32px 0;
            border: none;
            border-top: 1px solid rgba(255, 255, 255, 0.4);
        }
/* Toast Snack bar */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
/* Changelog dialog */
.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #191919;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  color: #fff;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}