body {
  margin: 0;
  padding: 0;
  background: url(Official_BG.jpg) no-repeat;
  background-size: 100% auto;
  background-position: center bottom;
}
.reds_box {
	width: 500px;
	background: rgba(100, 50, 50, 0.5);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: 'Century Gothic', sans-serif;
}

.reds_box-img{
border-radius: 50%;
	width: 200px;
	height: 200px;
}
.reds_box h1{
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 100;
}
.reds_box h5{
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 100;
}
.reds_box p{
	text-align: justify;
}
ul{
	margin: 0;
	padding: 0;
}
.reds_box li{
	display: inline-block;
	margin: 6px;
	list-style: none;
}
.reds_box li a{
	color: white;
	text-decoration: none;
	font-size: 60px;
	transition: all ease-in-out 250ms;
}
.reds_box li a:hover{
	color: #b9b9b9
}
a{
text-decoration:none;
color:white;
}
      #red {
         color: red;
      }
button {
            width: 100%;
            padding: 12px;
            color: #ffffff;
            background-color: #191919;
            border: none;
            outline: none;
            border-radius: 4px;
            box-shadow: 0 4px 8px rgba(59, 39, 39, 0.2);
            font-size: 20px;
            transition: background-color 0.2s;
        }

        button[disabled] {
            background-color: #191919;
        }

        button:hover {
            opacity: 0.9;
        }

        button:active {
            opacity: 0.8;
        }
        button[disabled] {
            background-color: #191919;
        }
      #godspeed {
         color: yellow;
      }
      #linkopenme{
         color: lightblue;
      }
      #redrainbow{
         -webkit-animation: animatedBackground_b 3s linear infinite alternate;
      }
/* official rainbows for red */
@keyframes animatedBackground_b{
    0% {color: #ff0000}
    10% {color: #a41212}
    20% {color: #f45b5b}
    30% {color: #5a2b2b}
    40% {color: #f33c3c}
    50% {color: #ff5151}
    60% {color: #711313}
    70% {color: #ff0000}
    80% {color: #ff6464}
    90% {color: #751717}
    100% {color: #ff0000}
}
/* hr line */
hr {
            margin: 32px 0;
            border: none;
            border-top: 1px solid rgba(255, 255, 255, 0.4);
        }

