#log {
            border-radius: 4px;
            padding: 8px;
            background-color: #322121;
            min-height: 360px;
            width: 100%;
            box-shadow: 0 0 0 0 rgba(169, 41, 56, 0.2);
            transition: box-shadow 0.2s;
        }
